/*
    Image hot fix
*/
[imgfix] img.feed-post__image {
    max-height: 450px;
    object-fit: contain;
}

/*
    Hide anything that has been assigned an exponential value
*/
[exp] {
    display: none;
}
/*
    But reveal those that are selected by body attributes exp*
*/
[exp1] [exp="1"],
[exp2] [exp="2"],
[exp3] [exp="3"],
[exp4] [exp="4"] {
    display: initial;
}

/*
Allow hiding the numbers by setting the font color of the container to transparent, 
and color of the icon element back to initial
*/
[nometric] feed-post-icon-row > div > div
{
    color: transparent;
}
[nometric] feed-post-icon-row i
{
    color: initial;
}


/* These are all targeted elements toggled by a checkbox */
/* this is the top right hand "BitClout Price" + "Your BitClout" */
[nobalance] .right-bar-creators__balance-box,
/* this is the Top Weekly Creators section */
[noleaders] right-bar-creators [href^="/creators"],
[noleaders] right-bar-creators-leaderboard,
/* the left hand side has a few buttons that could tempt you to look at numbers */
[nofinance] left-bar-button [href^="/creators"],
[nofinance] left-bar-button [href^="/buy-bitclout"],
[nofinance] left-bar-button [href^="/send-bitclout"],
[nofinance] left-bar-button [href^="/wallet"],
/* market cap of profile page */
[nocap] creator-profile-top-card > div > div:last-child,
/* blue checkmarks */
[noblchk] i.fa-check-circle,
[noprice] [tag="price"],
/* price on profile page and creator coins label in the div next to it */
[noprice] creator-profile-top-card [tag="price"] + div,
/* followers on profile page */
[nofollow] creator-profile-top-card [href*="/followers"],
[nokey] creator-profile-top-card [href*="/followers"] ~ span,
/* hide reclouts and spam */
[nospam] .spam,
[noreps] .repost,
/* buy button on profile page */
[nobuy] creator-profile-top-card .btn-primary[href*="/buy"]
{
    display: none !important;
}
/* hot fix because deleting the button moves things around */
creator-profile-top-card > div > div:nth-child(4){
    margin-top: 10px;
}


.global__container {
    background-color: white;
}
html[invert] {
    filter: invert(1) hue-rotate(100deg);
}

[invert] .search-bar__avatar,
[invert] .feed-post__avatar,
[invert] .creator-profile__avatar,
[invert] .right-bar-creators-leaderboard__creator-avatar,
[invert] .feed-create-post__avatar,
[invert] .message__avatar,
[invert] .holdings__avatar,
[invert] .manage-follows__avatar,
[invert] .feed-create-comment-form__avatar,
[invert] .creator-profile-details__hodler-avatar,
[invert] img {
    filter: invert(1)  hue-rotate(-100deg);
}
/* leave the logo alone */
[invert] [href*="/browse"] img {
    filter: none;
}


/* just trying to figure out some colors...
.fc-default {
    color: #222;
}
.feed-post__coin-price-holder {
    background-color: #f5f5f5;
}
a, .tab-underline-active {
    color: #0059f7;
}

.btn-primary, .btn-primary-disabled {
    background-color: #005bff;
    border-color: #005bff;
}
.left-bar__dot-active {
    color: #0058f7;
} */


/* who has color? */


/* can set top level color to get all regulat text , just need to figure out control text, links , let you change all those colors*/